html
  head
    title 1upHealth Demo
  body
    h1 Rakesh Pankhania 1upHealth Demo Application

    a(href="users/new") Create a new user
    <br />
    a(href="users") See all users
    <br />
    a(href="connections") See EHR connections
