h1 Create a new user

form(method="POST" action="/users")
  label(for="inputApplicationUserId") Username
  input(type="text" name="applicationUserId" id="inputApplicationUserId")
  <br /><br />
  button(type="submit") Create User
