extends ../layout.pug

block content
  <ol class="breadcrumb">
    <li class="active">Users</li>
  </ol>

  div(class="alert alert-info") Choose a user below to act as. Alternatively, you can create a new user. There is no "logging in" to this application, just clicking the user is good enough.

  div(class="list-group")
    a(href="/users/new" class="list-group-item active") Create someone new...

    each user in users
      a(href=`/users/${user.app_user_id}` class="list-group-item") User #{user.app_user_id}
